In [1]:
import pandas as pd

Remove any duplicate players. Make sure to remove the lower index player

In [2]:
df = pd.read_csv('14.csv')
dv = pd.read_csv('players.csv')

In [3]:
merged_df = pd.merge(df, dv, left_on='player_name', right_on='name', how='inner')

# (Optional) Drop the duplicate 'name' column if it's the same as 'player_name'
merged_df.drop(columns=['name', 'contract_expiration_date'], inplace=True)

In [4]:
merged_df.to_csv('all_merged15.csv')

In [5]:
merged_df.columns

Index(['Unnamed: 0', 'player_name', 'teams_played_for', 'league', 'games',
       'minutes_played', 'goals', 'npg', 'assists', 'xG', 'xA', 'npxG', 'xG90',
       'xA90', 'npxG90', 'position_x', 'shots', 'key_passes', 'yellow_cards',
       'red_cards', 'xGBuildup', 'xGChain', 'player_id', 'first_name',
       'last_name', 'last_season', 'current_club_id', 'player_code',
       'country_of_birth', 'city_of_birth', 'country_of_citizenship',
       'date_of_birth', 'sub_position', 'position_y', 'foot', 'height_in_cm',
       'agent_name', 'image_url', 'url',
       'current_club_domestic_competition_id', 'current_club_name',
       'market_value_in_eur', 'highest_market_value_in_eur'],
      dtype='object')

In [6]:
columns_to_keep = [
    'player_name', 'teams_played_for', 'league', 'games', 'minutes_played',
    'goals', 'npg', 'assists', 'xG', 'xA', 'npxG', 'xG90', 'xA90', 'npxG90',
    'position_x', 'shots', 'key_passes', 'yellow_cards', 'red_cards',
    'xGBuildup', 'xGChain', 'player_id', 'first_name', 'last_name',
    'last_season', 'current_club_id', 'player_code', 'market_value_in_eur', 'height_in_cm',
    'date_of_birth'
]

# Assuming your merged DataFrame is called merged_df
filtered_df = merged_df[columns_to_keep]

# Save to a new CSV file
filtered_df.to_csv('cleaned_players.csv', index=False)

In [7]:
# Example DataFrame
df_15 = pd.read_csv('cleaned_players.csv')  # if loading from file

# Ensure date_of_birth is datetime
df_15['date_of_birth'] = pd.to_datetime(df_15['date_of_birth'], errors='coerce')

# Reference date: March 1, 2015
ref_date = pd.Timestamp('2015-03-01')

# Calculate age in months manually
df_15['age_in_months_2015'] = (
    (ref_date.year - df_15['date_of_birth'].dt.year) * 12 +
    (ref_date.month - df_15['date_of_birth'].dt.month)
)

In [8]:
df_15.head()

,player_name,teams_played_for,league,games,minutes_played,goals,npg,assists,xG,xA,...,player_id,first_name,last_name,last_season,current_club_id,player_code,market_value_in_eur,height_in_cm,date_of_birth,age_in_months_2015
0,Sergio Agüero,Manchester City,EPL,33,2551,26,21,8,25.270160,5.568922,...,26399,Sergio,Agüero,2021,131,sergio-aguero,15000000.0,173.0,1988-06-02,321.0
1,Harry Kane,Tottenham,EPL,34,2589,21,19,4,17.157292,3.922501,...,132098,Harry,Kane,2024,27,harry-kane,90000000.0,188.0,1993-07-28,260.0
2,Diego Costa,Chelsea,EPL,26,2111,20,19,3,15.219104,4.554671,...,44779,Diego,Costa,2022,543,diego-costa,2000000.0,186.0,1988-10-07,317.0
3,Diego Costa,Chelsea,EPL,26,2111,20,19,3,15.219104,4.554671,...,546212,NaN,Diego Costa,2024,16704,diego-costa,7000000.0,184.0,1999-07-21,188.0
4,Charlie Austin,Queens Park Rangers,EPL,35,3078,18,15,5,17.881850,2.548747,...,129627,Charlie,Austin,2020,984,charlie-austin,275000.0,188.0,1989-07-05,308.0

In [9]:
df_15.drop(columns=['date_of_birth'], inplace=True)

In [10]:
df_15.to_csv('Season_After_Data_14.csv', index=False)

Determining player performance value:
Add win %

In [11]:
team_data = pd.read_csv('team_stats_filtered.csv')
team_data.head()

   team_id     team_long_name  wins  ties  games_played
0     8634       FC Barcelona   234    43           304
1     8633     Real Madrid CF   228    36           304
2     9925             Celtic   218    50           304
3     9823   FC Bayern Munich   193    44           272
4    10260  Manchester United   192    57           304

In [12]:
before_merge = len(df_15)

# Perform the merge
df_with_win_percent = pd.merge(team_data, df_15, left_on='team_long_name', right_on='teams_played_for', how='inner')

# Number of rows after merge
after_merge = len(df_with_win_percent)

# Calculate how many were dropped
dropped_rows = before_merge - after_merge

print(f'Rows before merge: {before_merge}')
print(f'Rows after merge: {after_merge}')
print(f'Rows dropped (no matching team): {dropped_rows}')

Rows before merge: 2423
Rows after merge: 986
Rows dropped (no matching team): 1437

In [13]:
df_with_win_percent.head()

,team_id,team_long_name,wins,ties,games_played,player_name,teams_played_for,league,games,minutes_played,...,xGChain,player_id,first_name,last_name,last_season,current_club_id,player_code,market_value_in_eur,height_in_cm,age_in_months_2015
0,10260,Manchester United,192,57,304,Wayne Rooney,Manchester United,EPL,33,2887,...,15.435743,3332,Wayne,Rooney,2017,985,wayne-rooney,2000000.0,176.0,353.0
1,10260,Manchester United,192,57,304,Robin van Persie,Manchester United,EPL,27,2126,...,12.917514,4380,Robin,van Persie,2018,234,robin-van-persie,1500000.0,183.0,379.0
2,10260,Manchester United,192,57,304,Juan Mata,Manchester United,EPL,33,2318,...,14.520849,44068,Juan,Mata,2022,141,juan-mata,1000000.0,170.0,323.0
3,10260,Manchester United,192,57,304,Ander Herrera,Manchester United,EPL,26,1877,...,11.650219,99343,Ander,Herrera,2023,621,ander-herrera,2000000.0,182.0,307.0
4,10260,Manchester United,192,57,304,Marouane Fellaini,Manchester United,EPL,27,1824,...,9.252811,39679,Marouane,Fellaini,2018,985,marouane-fellaini,1000000.0,194.0,328.0

In [14]:
df_with_win_percent['points_per_game'] = (
    (df_with_win_percent['wins'] * 3 + df_with_win_percent['ties']) / df_with_win_percent['games_played']
)

In [15]:
df_with_win_percent.head()

,team_id,team_long_name,wins,ties,games_played,player_name,teams_played_for,league,games,minutes_played,...,player_id,first_name,last_name,last_season,current_club_id,player_code,market_value_in_eur,height_in_cm,age_in_months_2015,points_per_game
0,10260,Manchester United,192,57,304,Wayne Rooney,Manchester United,EPL,33,2887,...,3332,Wayne,Rooney,2017,985,wayne-rooney,2000000.0,176.0,353.0,2.082237
1,10260,Manchester United,192,57,304,Robin van Persie,Manchester United,EPL,27,2126,...,4380,Robin,van Persie,2018,234,robin-van-persie,1500000.0,183.0,379.0,2.082237
2,10260,Manchester United,192,57,304,Juan Mata,Manchester United,EPL,33,2318,...,44068,Juan,Mata,2022,141,juan-mata,1000000.0,170.0,323.0,2.082237
3,10260,Manchester United,192,57,304,Ander Herrera,Manchester United,EPL,26,1877,...,99343,Ander,Herrera,2023,621,ander-herrera,2000000.0,182.0,307.0,2.082237
4,10260,Manchester United,192,57,304,Marouane Fellaini,Manchester United,EPL,27,1824,...,39679,Marouane,Fellaini,2018,985,marouane-fellaini,1000000.0,194.0,328.0,2.082237

In [16]:
df_with_win_percent['position_x'].head()

0    F M
1    F S
2    M S
3    M S
4    M S
Name: position_x, dtype: object

In [67]:
def calculate_ppv(row):
    assists = row['assists']
    goals = row['goals']
    win_pct = row['points_per_game']
    value = row['market_value_in_eur']
    position = row['position_x']
    
    # Handle missing data with default value of 0
    assists = assists if pd.notna(assists) else 0
    goals = goals if pd.notna(goals) else 0
    win_pct = win_pct if pd.notna(win_pct) else 0
    value = value if pd.notna(value) else 0

    # Determine if the player is a forward or midfielder
    if 'F' in str(position):
        # Forward formula
        performance_score = 0.50 * goals + 0.30 * assists + 0.20 * win_pct
    else:
        # Midfielder formula
        performance_score = 0.40 * assists + 0.40 * goals + 0.20 * win_pct

    if value == 0:
        return None  # avoid division by zero

    return (1000000 * performance_score) / value

# Apply to the DataFrame
df_with_win_percent['player_performance_valuation'] = df_with_win_percent.apply(calculate_ppv, axis=1)

In [78]:
df_with_win_percent.head()

,team_id,team_long_name,wins,ties,games_played,player_name,teams_played_for,league,games,minutes_played,...,first_name,last_name,last_season,current_club_id,player_code,market_value_in_eur,height_in_cm,age_in_months_2015,points_per_game,player_performance_valuation
0,10260,Manchester United,192,57,304,Wayne Rooney,Manchester United,EPL,33,2887,...,Wayne,Rooney,2017,985,wayne-rooney,2000000.0,176.0,353.0,2.082237,3.958224
1,10260,Manchester United,192,57,304,Robin van Persie,Manchester United,EPL,27,2126,...,Robin,van Persie,2018,234,robin-van-persie,1500000.0,183.0,379.0,2.082237,4.010965
2,10260,Manchester United,192,57,304,Juan Mata,Manchester United,EPL,33,2318,...,Juan,Mata,2022,141,juan-mata,1000000.0,170.0,323.0,2.082237,5.616447
3,10260,Manchester United,192,57,304,Ander Herrera,Manchester United,EPL,26,1877,...,Ander,Herrera,2023,621,ander-herrera,2000000.0,182.0,307.0,2.082237,2.208224
4,10260,Manchester United,192,57,304,Marouane Fellaini,Manchester United,EPL,27,1824,...,Marouane,Fellaini,2018,985,marouane-fellaini,1000000.0,194.0,328.0,2.082237,2.816447

In [76]:
df_with_win_percent_sorted = df_with_win_percent.sort_values(by='player_performance_valuation', ascending=False)

In [77]:
df_with_win_percent_sorted[['goals', 'player_name', 'player_performance_valuation']].head(20)

     goals        player_name  player_performance_valuation
591      8       Germán Denis                    423.269962
82      12        David Silva                    159.710526
291      9      Stefano Mauri                    108.086379
938      8     Franco Brienza                    107.163636
766     12     Graziano Pellè                     68.894737
644      5         João Pedro                     66.575758
746     17      Alberto Bueno                     66.252632
925      2   Francesco Tavano                     61.263158
699      2     Francesco Lodi                     58.088496
757      0          Zé Castro                     57.515789
918     10  Massimo Maccarone                     48.877193
83      10         Yaya Touré                     47.855263
454      1  Michel Morganella                     42.255639
552      1  Gonzalo Bergessio                     42.015038
893     18     Charlie Austin                     38.768740
90       3        Fernandinho                     37.140351
821      2   Guillaume Gillet                     37.000000
640      7          Marco Sau                     34.858586
399      5  Christian Gentner                     34.632353
724     19    Alexander Meier                     34.448179

In [1]:
df = df_with_win_percent_sorted[ df_with_win_percent_sorted['player_name'] == 'Ronaldo' ]

NameError: name 'df_with_win_percent_sorted' is not defined

In [71]:
df_with_win_percent_sorted.columns

Index(['team_id', 'team_long_name', 'wins', 'ties', 'games_played',
       'player_name', 'teams_played_for', 'league', 'games', 'minutes_played',
       'goals', 'npg', 'assists', 'xG', 'xA', 'npxG', 'xG90', 'xA90', 'npxG90',
       'position_x', 'shots', 'key_passes', 'yellow_cards', 'red_cards',
       'xGBuildup', 'xGChain', 'player_id', 'first_name', 'last_name',
       'last_season', 'current_club_id', 'player_code', 'market_value_in_eur',
       'height_in_cm', 'age_in_months_2015', 'points_per_game',
       'player_performance_valuation'],
      dtype='object')

In [72]:
df_target = df_with_win_percent_sorted[['player_name', 'player_performance_valuation', 'player_id']]

In [73]:
df_target.head(30)

            player_name  player_performance_valuation  player_id
591        Germán Denis                    423.269962      30873
82          David Silva                    159.710526      86759
291       Stefano Mauri                    108.086379       6043
938      Franco Brienza                    107.163636      16137
766      Graziano Pellè                     68.894737      29594
644          João Pedro                     66.575758      34576
746       Alberto Bueno                     66.252632      45335
925    Francesco Tavano                     61.263158       6020
699      Francesco Lodi                     58.088496       6033
757           Zé Castro                     57.515789      13872
918   Massimo Maccarone                     48.877193       3713
83           Yaya Touré                     47.855263      13091
454   Michel Morganella                     42.255639      47544
552   Gonzalo Bergessio                     42.015038      52328
893      Charlie Austin                     38.768740     129627
90          Fernandinho                     37.140351     389324
821    Guillaume Gillet                     37.000000      31952
640           Marco Sau                     34.858586      55801
399   Christian Gentner                     34.632353      19112
724     Alexander Meier                     34.448179       1565
697  Raffaele Palladino                     34.029499      28855
643          João Pedro                     33.287879      22440
376         Iago Falque                     30.651656      59340
747             Manucho                     30.378947      64484
872        Dwight Gayle                     30.368421     196522
929    Mirko Valdifiori                     30.315789      84903
234      Walter Gargano                     30.245847      52266
541                Éder                     29.751880      37418
383   Giovanni Marchese                     29.258278      21887
449         Luca Rigoni                     28.375940      22210

In [42]:
Player_Valuation_2015 = pd.read_csv('Player_Valuation_2015.csv')

In [43]:
# Check original row counts
rows_val = len(Player_Valuation_2015)
rows_target = len(df_with_win_percent_sorted)

# Merge the DataFrames on 'player_id' using inner join (keeps only matching rows)
merged_df = pd.merge(Player_Valuation_2015, df_with_win_percent_sorted, on='player_id', how='inner')

# Rows after merge
rows_merged = len(merged_df)

# Calculate how many rows were dropped from each DataFrame
dropped_val = rows_val - rows_merged
dropped_target = rows_target - rows_merged

# Report the results
print(f"Rows dropped from Player_Valuation_2015: {dropped_val}")
print(f"Rows dropped from df_with_win_percent_sorted: {dropped_target}")
print(f"Rows in merged DataFrame: {rows_merged}")

Rows dropped from Player_Valuation_2015: 420
Rows dropped from df_with_win_percent_sorted: 401
Rows in merged DataFrame: 585

In [44]:
merged_df.head(20)

,player_name_x,player_performance_valuation_x,player_id,team_id,team_long_name,wins,ties,games_played,player_name_y,teams_played_for,...,first_name,last_name,last_season,current_club_id,player_code,market_value_in_eur,height_in_cm,age_in_months_2015,points_per_game,player_performance_valuation_y
0,Germán Denis,1.000639,30873,8524,Atalanta,79,69,263,Germán Denis,Atalanta,...,Germán,Denis,2015,800,german-denis,10000.0,182.0,402.0,1.163498,3003.316350
1,David Silva,1.000273,86759,8456,Manchester City,175,61,304,David Silva,Manchester City,...,David,Silva,2013,2553,david-silva,50000.0,178.0,341.0,1.927632,15005.892763
2,Graziano Pellè,1.000191,29594,8466,Southampton,60,40,152,Graziano Pellè,Southampton,...,Graziano,Pellè,2020,130,graziano-pelle,100000.0,194.0,356.0,1.447368,30005.344737
3,Jakub Blaszczykowski,1.000154,29835,9789,Borussia Dortmund,157,62,272,Jakub Blaszczykowski,Borussia Dortmund,...,Jakub,Blaszczykowski,2018,82,jakub-blaszczykowski,25000.0,176.0,351.0,1.959559,7500.195956
4,Massimo Maccarone,1.000140,3713,8534,Empoli,20,28,76,Massimo Maccarone,Empoli,...,Massimo,Maccarone,2016,749,massimo-maccarone,150000.0,180.0,426.0,1.157895,45005.515789
5,Emanuele Giaccherini,1.000129,84835,8472,Sunderland,78,92,304,Emanuele Giaccherini,Sunderland,...,Emanuele,Giaccherini,2018,862,emanuele-giaccherini,75000.0,167.0,358.0,1.072368,22500.107237
6,Franco Brienza,1.000127,16137,9880,Cesena,19,30,110,Franco Brienza,Cesena,...,Franco,Brienza,2016,1025,franco-brienza,50000.0,172.0,432.0,0.790909,15004.079091
7,Yaya Touré,1.000116,13091,8456,Manchester City,175,61,304,Yaya Touré,Manchester City,...,Yaya,Touré,2018,683,yaya-toure,100000.0,188.0,382.0,1.927632,30003.492763
8,Daniel Didavi,1.000099,57995,10269,VfB Stuttgart,99,61,272,Daniel Didavi,VfB Stuttgart,...,Daniel,Didavi,2021,79,daniel-didavi,200000.0,180.0,301.0,1.316176,60001.731618
9,Francesco Lodi,1.000099,6033,10167,Parma,74,63,226,Francesco Lodi,Parma,...,Francesco,Lodi,2016,410,francesco-lodi,25000.0,183.0,372.0,1.261062,7501.026106
10,Zé Castro,1.000096,13872,8370,Rayo Vallecano,66,28,190,Zé Castro,Rayo Vallecano,...,NaN,Zé Castro,2015,367,ze-castro,25000.0,183.0,386.0,1.189474,7501.018947
11,Cyril Théréau,1.000086,29316,8600,Udinese,115,76,302,Cyril Théréau,Udinese,...,Cyril,Théréau,2019,430,cyril-thereau,200000.0,189.0,383.0,1.394040,60004.139404
12,Pierre-Michel Lasogga,1.000083,73013,9790,Hamburger SV,93,66,272,Pierre-Michel Lasogga,Hamburger SV,...,Pierre-Michel,Lasogga,2016,41,pierre-michel-lasogga,150000.0,189.0,279.0,1.268382,45001.726838
13,Alberto Gilardino,1.000075,5878,8535,Fiorentina,132,75,300,Alberto Gilardino,Fiorentina,...,Alberto,Gilardino,2016,2921,alberto-gilardino,200000.0,184.0,392.0,1.570000,60002.157000
14,Christian Gentner,1.000074,19112,10269,VfB Stuttgart,99,61,272,Christian Gentner,VfB Stuttgart,...,Christian,Gentner,2020,89,christian-gentner,100000.0,189.0,355.0,1.316176,30002.531618
15,Emmanuel Badu,1.000073,108484,8600,Udinese,115,76,302,Emmanuel Badu,Udinese,...,Emmanuel,Badu,2019,276,emmanuel-badu,75000.0,173.0,291.0,1.394040,22500.739404
16,Nicolai Müller,1.000072,39426,9790,Hamburger SV,93,66,272,Nicolai Müller,Hamburger SV,...,Nicolai,Müller,2018,24,nicolai-muller,200000.0,173.0,330.0,1.268382,60001.326838
17,Manuel Pucciarelli,1.000069,163683,8534,Empoli,20,28,76,Manuel Pucciarelli,Empoli,...,Manuel,Pucciarelli,2018,862,manuel-pucciarelli,150000.0,174.0,285.0,1.157895,45002.515789
18,Shane Long,1.000066,37304,8466,Southampton,60,40,152,Shane Long,Southampton,...,Shane,Long,2021,180,shane-long,250000.0,180.0,338.0,1.447368,75003.144737
19,Arouna Koné,1.000066,8552,8668,Everton,121,100,304,Arouna Koné,Everton,...,Arouna,Koné,2020,2381,arouna-kone,150000.0,181.0,376.0,1.523026,45000.752303

In [45]:
merged_df.columns

Index(['player_name_x', 'player_performance_valuation_x', 'player_id',
       'team_id', 'team_long_name', 'wins', 'ties', 'games_played',
       'player_name_y', 'teams_played_for', 'league', 'games',
       'minutes_played', 'goals', 'npg', 'assists', 'xG', 'xA', 'npxG', 'xG90',
       'xA90', 'npxG90', 'position_x', 'shots', 'key_passes', 'yellow_cards',
       'red_cards', 'xGBuildup', 'xGChain', 'first_name', 'last_name',
       'last_season', 'current_club_id', 'player_code', 'market_value_in_eur',
       'height_in_cm', 'age_in_months_2015', 'points_per_game',
       'player_performance_valuation_y'],
      dtype='object')

In [47]:
# Select the desired columns and rename them
merged_df = merged_df[['player_name_x', 'player_performance_valuation_x', 'team_long_name', 'minutes_played', 'goals', 
                     'npg', 'assists', 'xG', 'xA', 'npxG', 'xG90', 'xA90', 'npxG90', 'position_x', 
                     'shots', 'key_passes', 'yellow_cards', 'red_cards', 'xGBuildup', 'xGChain', 
                     'market_value_in_eur', 'height_in_cm', 'age_in_months_2015', 'points_per_game']]

# Rename columns as needed
merged_df = merged_df.rename(columns={
    'player_name_x': 'player_name',
    'player_performance_valuation_x': 'player_performance_valuation'
})

# Now, merge_df has the desired columns and renamed ones
print(merged_df.head())  # To check the first few rows

            player_name  player_performance_valuation     team_long_name  \
0          Germán Denis                      1.000639           Atalanta
1           David Silva                      1.000273    Manchester City
2        Graziano Pellè                      1.000191        Southampton
3  Jakub Blaszczykowski                      1.000154  Borussia Dortmund
4     Massimo Maccarone                      1.000140             Empoli

   minutes_played  goals  npg  assists         xG         xA       npxG  ...  \
0            2325      8    5        0   8.567573   1.832720   5.522378  ...
1            2682     12   12        7   9.096988  10.388413   9.096988  ...
2            3291     12   12        2  18.616503   4.481624  18.616503  ...
3             599      0    0        0   1.210137   0.883586   1.210137  ...
4            2507     10    9        7   8.975993   7.552497   8.214694  ...

   shots  key_passes  yellow_cards red_cards  xGBuildup    xGChain  \
0     54          37             4         0   1.915259   8.199359
1     66          92             8         0  16.633573  29.144278
2    123          43             6         0   5.598169  24.785647
3      7          15             0         0   2.687145   4.451465
4     87          50             4         0   3.106277  14.702128

   market_value_in_eur  height_in_cm  age_in_months_2015  points_per_game
0              10000.0         182.0               402.0         1.163498
1              50000.0         178.0               341.0         1.927632
2             100000.0         194.0               356.0         1.447368
3              25000.0         176.0               351.0         1.959559
4             150000.0         180.0               426.0         1.157895

[5 rows x 24 columns]

In [50]:
merged_df.to_csv('2014_player_data_cleaned.csv', index=False)

In [51]:
df = pd.read_csv('team_stats_filtered.csv')

In [52]:
df.head()

   team_id     team_long_name  wins  ties  games_played
0     8634       FC Barcelona   234    43           304
1     8633     Real Madrid CF   228    36           304
2     9925             Celtic   218    50           304
3     9823   FC Bayern Munich   193    44           272
4    10260  Manchester United   192    57           304

In [55]:
df['team_rank'] = df.index + 1

# Display the updated dataframe to verify
df.head()

   team_id     team_long_name  wins  ties  games_played  row_number  team_rank
0     8634       FC Barcelona   234    43           304           1          1
1     8633     Real Madrid CF   228    36           304           2          2
2     9925             Celtic   218    50           304           3          3
3     9823   FC Bayern Munich   193    44           272           4          4
4    10260  Manchester United   192    57           304           5          5

In [57]:
merged_df = merged_df.merge(df[['team_long_name', 'team_rank']], left_on='team_long_name', right_on='team_long_name', how='left')
merged_df.head()

,player_name,player_performance_valuation,team_long_name,minutes_played,goals,npg,assists,xG,xA,npxG,...,key_passes,yellow_cards,red_cards,xGBuildup,xGChain,market_value_in_eur,height_in_cm,age_in_months_2015,points_per_game,team_rank
0,Germán Denis,1.000639,Atalanta,2325,8,5,0,8.567573,1.832720,5.522378,...,37,4,0,1.915259,8.199359,10000.0,182.0,402.0,1.163498,105
1,David Silva,1.000273,Manchester City,2682,12,12,7,9.096988,10.388413,9.096988,...,92,8,0,16.633573,29.144278,50000.0,178.0,341.0,1.927632,13
2,Graziano Pellè,1.000191,Southampton,3291,12,12,2,18.616503,4.481624,18.616503,...,43,6,0,5.598169,24.785647,100000.0,194.0,356.0,1.447368,143
3,Jakub Blaszczykowski,1.000154,Borussia Dortmund,599,0,0,0,1.210137,0.883586,1.210137,...,15,0,0,2.687145,4.451465,25000.0,176.0,351.0,1.959559,18
4,Massimo Maccarone,1.000140,Empoli,2507,10,9,7,8.975993,7.552497,8.214694,...,50,4,0,3.106277,14.702128,150000.0,180.0,426.0,1.157895,221

In [58]:
merged_df = merged_df.drop(columns=['team_long_name'])
merged_df.head()

,player_name,player_performance_valuation,minutes_played,goals,npg,assists,xG,xA,npxG,xG90,...,key_passes,yellow_cards,red_cards,xGBuildup,xGChain,market_value_in_eur,height_in_cm,age_in_months_2015,points_per_game,team_rank
0,Germán Denis,1.000639,2325,8,5,0,8.567573,1.832720,5.522378,0.331648,...,37,4,0,1.915259,8.199359,10000.0,182.0,402.0,1.163498,105
1,David Silva,1.000273,2682,12,12,7,9.096988,10.388413,9.096988,0.305268,...,92,8,0,16.633573,29.144278,50000.0,178.0,341.0,1.927632,13
2,Graziano Pellè,1.000191,3291,12,12,2,18.616503,4.481624,18.616503,0.509111,...,43,6,0,5.598169,24.785647,100000.0,194.0,356.0,1.447368,143
3,Jakub Blaszczykowski,1.000154,599,0,0,0,1.210137,0.883586,1.210137,0.181824,...,15,0,0,2.687145,4.451465,25000.0,176.0,351.0,1.959559,18
4,Massimo Maccarone,1.000140,2507,10,9,7,8.975993,7.552497,8.214694,0.322233,...,50,4,0,3.106277,14.702128,150000.0,180.0,426.0,1.157895,221

In [59]:
merged_df.to_csv('2014_player_data_cleaned.csv')

In [62]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
merged_df['player_performance_valuation_standardized'] = scaler.fit_transform(
    merged_df[['player_performance_valuation']]
)
merged_df.head()

,player_name,player_performance_valuation,minutes_played,goals,npg,assists,xG,xA,npxG,xG90,...,yellow_cards,red_cards,xGBuildup,xGChain,market_value_in_eur,height_in_cm,age_in_months_2015,points_per_game,team_rank,player_performance_valuation_standardized
0,Germán Denis,1.000639,2325,8,5,0,8.567573,1.832720,5.522378,0.331648,...,4,0,1.915259,8.199359,10000.0,182.0,402.0,1.163498,105,18.042884
1,David Silva,1.000273,2682,12,12,7,9.096988,10.388413,9.096988,0.305268,...,8,0,16.633573,29.144278,50000.0,178.0,341.0,1.927632,13,7.509546
2,Graziano Pellè,1.000191,3291,12,12,2,18.616503,4.481624,18.616503,0.509111,...,6,0,5.598169,24.785647,100000.0,194.0,356.0,1.447368,143,5.167615
3,Jakub Blaszczykowski,1.000154,599,0,0,0,1.210137,0.883586,1.210137,0.181824,...,0,0,2.687145,4.451465,25000.0,176.0,351.0,1.959559,18,4.096108
4,Massimo Maccarone,1.000140,2507,10,9,7,8.975993,7.552497,8.214694,0.322233,...,4,0,3.106277,14.702128,150000.0,180.0,426.0,1.157895,221,3.695543